In [ ]:
#Group1	Group2	Group3		Anova: Single Factor						
#51	23	56								
#45	43	76		SUMMARY						
#33	23	74		Groups	Count	Sum	Average	Variance		
#45	43	87		Column 1	5	241	48,2	153,2		
#67	45	56		Column 2	5	177	35,4	128,8		
#				Column 3	5	349	69,8	183,2		
#										
#H0 - Null Hypotheis										
#H0 - Mu1 = Mu2 = Mu3				ANOVA						
#				Source of Variation	SS	df	MS	F	P-value	F crit
#H1 - at least one of means is different				Between Groups	3022,933333	2	1511,466667	9,747205503	0,003059754	3,885293835
#				Within Groups	1860,8	12	155,0666667			
#										
#				Total	4883,733333	14				
#										
#										
#				if F > F crit, we reject the null hypothesis. This is the case, 9.7472 > 3.885. 						
#				Therefore, we reject the null hypothesis. The means of the three population groups are not all equal. At least one of the means is different.						
#